<div class="content" role="main">
  abc: {{title}}

  <button (click)="otvorMenu(menu.OSOBY)">OSOBY</button>
  <button (click)="otvorMenu(menu.KNIHY)">KNIHY</button>
  <button (click)="otvorMenu(menu.VYPOZICKY)">VYPOZICKY</button>

  <div *ngIf="aktMenu == menu.OSOBY">
    <h1>OSOBY</h1>
    meno:
    <input [(ngModel)]="osoba.meno" [disabled]="zakaz"><br>
    priezvisko:
    <input [ngModel]="osoba.priezvisko" [disabled]="zakaz"><br>

    <button (click)="test()">TEST</button><br>
    <button (click)="pridaj()">PRIDAJ</button>

    <div *ngFor="let o of osoby">
      {{o.meno}} {{o.priezvisko}}
    </div>
  </div>

  <div *ngIf="aktMenu == menu.KNIHY">
    <h1>KNIHY</h1>
  </div>

  <div *ngIf="aktMenu == menu.VYPOZICKY">
    <h1>VYPOZICKY</h1>
  </div>
</div>
