<div class="content" role="main">
  abc: {{title}}

  <button (click)="otvorMenu(menu.OSOBY)">OSOBY</button>
  <button (click)="otvorMenu(menu.KNIHY)">KNIHY</button>
  <button (click)="otvorMenu(menu.VYPOZICKY)">VYPOZICKY</button>

  <div *ngIf="aktMenu == menu.OSOBY">

    <app-osoba-formular></app-osoba-formular>

    <app-osoby-zoznam></app-osoby-zoznam>
  </div>

  <div *ngIf="aktMenu == menu.KNIHY">
    <h1>KNIHY</h1>
  </div>

  <div *ngIf="aktMenu == menu.VYPOZICKY">
    <h1>VYPOZICKY</h1>
  </div>
</div>
